</article>
<footer
        id="footer"
        class="space-between"
        data-flex-wrap="reverse"
        style="--space: var(--space-xs-s)"
      >
        <div class="cluster" style="--space: var(--space-xs-s)">
          <p>
            &copy;
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script>
            Mighty 1
          </p>
          <a href="/privacybeleid">Privacybeleid</a>
          <a href="/imprint">Imprint/Impressum</a>
          <p>
            Website door
            <a href="https://breakthecreatives.nl" target="_blank" rel="noopener noreferrer"
              >Break The Creatives</a
            >
          </p>
        </div>
        <p><a href="#top">Naar boven</a> ↑</p>
      </footer>
</body>
<script src="/js/page-section-toggle.js"></script>
</html>
