<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

    <link rel="stylesheet" href="/css/global.css" type="text/css" media="all" />
    <link
      rel="preload"
      href="https://use.typekit.net/yth2kjp.css"
      as="font"
      type="font/woff2"
      crossorigin
    />

    {{ with .OutputFormats.Get "rss" -}} {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />
    ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
  </head>

  <body>
    {{ partial "nav.html" . }}

    <article class="flow" style="--flow-space: var(--space-xs-s)"></article>
  </body>
</html>
