.masonry {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: masonry;
  grid-gap: var(--gutter);
}

@media screen and (max-width: 659px) {
  .masonry {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.masonry img {
  width: 100%;
  height: auto;
  display: block;
}
