.masonry {
  column-count: 2;
  column-gap: var(--gutter);
}

@media screen and (max-width: 659px) {
  .masonry {
    column-count: 1;
  }
}

.masonry img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: var(--gutter);
}
